<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReglementLabel" jhiTranslate="auxiliumApp.reglement.home.createOrEditLabel">Create or edit a Reglement</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!reglement.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="reglement.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auxiliumApp.reglement.echeanceJours" for="field_echeanceJours">Echeance Jours</label>
            <input type="number" class="form-control" name="echeanceJours" id="field_echeanceJours"
                [(ngModel)]="reglement.echeanceJours" max="365" />
            <div [hidden]="!(editForm.controls.echeanceJours?.dirty && editForm.controls.echeanceJours?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.echeanceJours?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 365 }">
                    This field cannot be more than 365.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.echeanceJours?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="auxiliumApp.reglement.modeReglement" for="field_modeReglement">Mode Reglement</label>
            <select class="form-control" id="field_modeReglement" name="modeReglement" [(ngModel)]="reglement.modeReglementId"  required>
                <option [ngValue]="refModeReglementOption.id" *ngFor="let refModeReglementOption of refmodereglements; trackBy: trackRefModeReglementById">{{refModeReglementOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.modeReglement?.dirty && editForm.controls.modeReglement?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.modeReglement?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
