
<div *ngIf="refFractionnement">
    <h2><span jhiTranslate="auxiliumApp.refFractionnement.detail.title">Ref Fractionnement</span> {{refFractionnement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="auxiliumApp.refFractionnement.code">Code</span></dt>
        <dd>
            <span>{{refFractionnement.code}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.refFractionnement.libelle">Libelle</span></dt>
        <dd>
            <span>{{refFractionnement.libelle}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ref-fractionnement/'+ refFractionnement.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;&nbsp;&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
