
<div *ngIf="periodicity">
    <h2><span jhiTranslate="auxiliumApp.periodicity.detail.title">Periodicity</span> {{periodicity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="auxiliumApp.periodicity.code">Code</span></dt>
        <dd>
            <span>{{periodicity.code}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.periodicity.label">Label</span></dt>
        <dd>
            <span>{{periodicity.label}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.periodicity.active">Active</span></dt>
        <dd>
            <span>{{periodicity.active}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'periodicity/'+ periodicity.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;&nbsp;&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
