
<!-- Breadcrumb-->
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">

            <h3><a routerLink="/" ><i class="fa fa-home" aria-hidden="true"></i></a></h3>
                <h4><a routerLink="/" ><span jhiTranslate="global.menu.home">Home</span></a></h4>
                <h4> <span class="icon fa fa-fw fa-angle-right"></span> <span jhiTranslate="global.form.newpassword">Password </span></h4>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">
                    <jhi-alert-error></jhi-alert-error>
                </h1>
            </header>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h2 jhiTranslate="password.title" translateValues="{username: '{{account.login}}'}" *ngIf="account">Password for <b>{{account.login}}</b></h2>

                        </div>







<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
         
            <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                <strong>Password changed!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error"  jhiTranslate="password.messages.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                    <div class="form-group">
                            <label class="form-control-label" for="oldPassword" jhiTranslate="global.form.oldpassword">old password</label>
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" #oldPasswordInput="ngModel"
                            placeholder="{{'global.form.oldpassword.placeholder' | translate}}"
                                   [(ngModel)]="oldPassword" minlength=4 maxlength=50 required>
                            <div *ngIf="oldPasswordInput.dirty && oldPasswordInput.invalid">
                                <small class="form-text text-danger"
                                   *ngIf="oldPasswordInput.errors.required" jhiTranslate="global.messages.validate.oldpassword.required">
                                    Your old password is required.
                                </small>
                                <small class="form-text text-danger"
                                   *ngIf="oldPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.oldpassword.minlength">
                                    Your old password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger"
                                   *ngIf="oldPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.oldpassword.maxlength">
                                    Your old password cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>

                <div class="form-group">
                    <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                    placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           [(ngModel)]="password" minlength=4 maxlength=50 required>
                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </small> 
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                    placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.required" jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary" jhiTranslate="password.form.button">Save</button>
            </form> <br><br>
        </div>
    </div>
</div>




</div>
</div>
</div>
</div>
</section>