
<div *ngIf="refModeGestion">
    <h2><span jhiTranslate="auxiliumApp.refModeGestion.detail.title">Ref Mode Gestion</span> {{refModeGestion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="auxiliumApp.refModeGestion.libelle">Libelle</span></dt>
        <dd>
            <span>{{refModeGestion.libelle}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.refModeGestion.description">Description</span></dt>
        <dd>
            <span>{{refModeGestion.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ref-mode-gestion/'+ refModeGestion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;&nbsp;&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
