<div>
    <h2>
        <span jhiTranslate="auxiliumApp.policyHolder.home.title">Policy Holders</span>
        <button class="btn btn-primary float-right jh-create-entity create-policy-holder" [routerLink]="['/', { outlets: { popup: ['policy-holder-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="auxiliumApp.policyHolder.home.createLabel">
            Create new Policy Holder
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'auxiliumApp.policyHolder.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-sm fa-remove"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="policyHolders">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.company">Company</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.title">Title</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.firstName">First Name</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.lastName">Last Name</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.companyName">Company Name</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.firstPhone">First Phone</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.secondPhone">Second Phone</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.fax">Fax</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.firstEmail">First Email</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.secondEmail">Second Email</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.address">Address</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.identifier">Identifier</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.vatRegistered">Vat Registered</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.tradeRegister">Trade Register</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.updateDate">Update Date</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.governorate">Governorate</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.delegation">Delegation</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.creationUser">Creation User</span></th>
            <th><span jhiTranslate="auxiliumApp.policyHolder.updateUser">Update User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let policyHolder of policyHolders ;trackBy: trackId">
                <td><a [routerLink]="['../policy-holder', policyHolder.id ]">{{policyHolder.id}}</a></td>
                <td>{{policyHolder.company}}</td>
                <td>{{policyHolder.title}}</td>
                <td>{{policyHolder.firstName}}</td>
                <td>{{policyHolder.lastName}}</td>
                <td>{{policyHolder.companyName}}</td>
                <td>{{policyHolder.firstPhone}}</td>
                <td>{{policyHolder.secondPhone}}</td>
                <td>{{policyHolder.fax}}</td>
                <td>{{policyHolder.firstEmail}}</td>
                <td>{{policyHolder.secondEmail}}</td>
                <td>{{policyHolder.address}}</td>
                <td>{{policyHolder.identifier}}</td>
                <td>{{policyHolder.vatRegistered}}</td>
                <td>{{policyHolder.tradeRegister}}</td>
                <td>{{policyHolder.creationDate | date:'mediumDate'}}</td>
                <td>{{policyHolder.updateDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="policyHolder.governorateId">
                        <a [routerLink]="['../governorate', policyHolder.governorateId  ]" >{{policyHolder.governorateLabel}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="policyHolder.delegationId">
                        <a [routerLink]="['../delegation', policyHolder.delegationId  ]" >{{policyHolder.delegationLabel}}</a>
                    </div>
                </td>
                <td>
                    {{policyHolder.creationUserLogin}}
                </td>
                <td>
                    {{policyHolder.updateUserLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../policy-holder', policyHolder.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'policy-holder/'+ policyHolder.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'policy-holder/'+ policyHolder.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
