
<!-- Breadcrumb-->
<div class="breadcrumb-holder">
	<div class="container-fluid">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/"><span class="fa fa-home"></span>&nbsp;&nbsp;<span	jhiTranslate="global.menu.home">Home</span></a></li>
			<li class="breadcrumb-item active"><span jhiTranslate="auxiliumApp.convention.home.title">Conventions</span></li>
		</ul>
	</div>
</div>
<section class="forms">
	<div class="container-fluid">
        <!-- Page Header-->
        <header style="padding-top: 1rem; padding-bottom: 1rem;">
            <h1 class="h3 display">
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>
            </h1>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header  d-flex align-items-center no-padding" >
                        <div class="notice notice-info">
                            <span class="fa fa-clone" style="color: #45ABCD"></span>&nbsp;&nbsp;
                            <strong jhiTranslate="auxiliumApp.convention.home.title">Conventions</strong>
                            <button *ngIf="permissionToAccess.canCreate" class="btn btn-sm btn-primary float-right jh-create-entity create-pack" [routerLink]="['../convention-new']">
                                    <span class="fa fa-sm fa-plus"></span>
                                <span class="hidden-sm-down" jhiTranslate="auxiliumApp.convention.home.createLabel">Create new convention</span>
                            </button>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-hover table-bordered" style="width: 100%;">
                                <thead style="color:white;background-color:#11859b">
                                <tr>
                                    <th><span jhiTranslate="auxiliumApp.convention.startDate">startdate</span></th>
                                    <th><span jhiTranslate="auxiliumApp.convention.endDate">enddate</span></th>
                                    <th><span jhiTranslate="auxiliumApp.refPartner.detail.title">Partenaire</span></th>
                                    <th><span jhiTranslate="auxiliumApp.convention.pack">Pack</span></th>
                                    <th class="no-sort"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let convention of conventions">
                                    <td>{{convention.startDate | date:'dd/MM/yyyy'}}</td>
                                    <td>{{convention.endDate | date:'dd/MM/yyyy'}}</td>
                                    <td>{{convention.clientLabel}}</td>
                                    <td>{{convention.packsString}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button *ngIf="permissionToAccess.canConsult" type="submit" [routerLink]="['/convention/'+ convention.id]" replaceUrl="true" class="btn btn-primary btn-sm">
                                                <span class="fa fa-sm fa-eye"></span>
                                            </button>
                                            <button *ngIf="permissionToAccess.canUpdate" type="submit" [routerLink]="['/convention/'+ convention.id + '/edit']" replaceUrl="true" class="btn btn-primary btn-sm">
                                                <span class="fa fa-sm fa-pencil"></span>
                                            </button>
                                            <button *ngIf="permissionToAccess.canDelete" type="button" (click)="delete(convention.id)" class="btn btn-danger btn-sm">
                                                <span class="fa fa-sm fa-remove"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>
