
<div *ngIf="agentGeneral">
    <h2><span jhiTranslate="auxiliumApp.agentGeneral.detail.title">Agent General</span> {{agentGeneral.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="auxiliumApp.agentGeneral.isBloque">Is Bloque</span></dt>
        <dd>
            <span>{{agentGeneral.isBloque}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.agentGeneral.personnePhysique">Personne Physique</span></dt>
        <dd>
            <div *ngIf="agentGeneral.personnePhysiqueId">
                <a [routerLink]="['/personne-physique', agentGeneral.personnePhysiqueId]">{{agentGeneral.personnePhysiqueNom}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.agentGeneral.agence">Agence</span></dt>
        <dd>
            <div *ngIf="agentGeneral.agenceId">
                <a [routerLink]="['/ref-agence', agentGeneral.agenceId]">{{agentGeneral.agenceNom}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.agentGeneral.serviceAssurance">Service Assurance</span></dt>
        <dd>
            <div *ngIf="agentGeneral.serviceAssuranceId">
                <a [routerLink]="['/service-assurance', agentGeneral.serviceAssuranceId]">{{agentGeneral.serviceAssuranceLibelle}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'agent-general/'+ agentGeneral.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;&nbsp;&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
