
<div *ngIf="businessEntity">
    <h2><span jhiTranslate="auxiliumApp.businessEntity.detail.title">Business Entity</span> {{businessEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="auxiliumApp.businessEntity.label">Label</span></dt>
        <dd>
            <span>{{businessEntity.label}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.businessEntity.code">Code</span></dt>
        <dd>
            <span>{{businessEntity.code}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'business-entity/'+ businessEntity.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;&nbsp;&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
