<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><span class="fa fa-home"></span>&nbsp;&nbsp;<a routerLink="/"><span
                        jhiTranslate="global.menu.home">Home</span></a></li>
            <li class="breadcrumb-item"><a routerLink="/dealer"><span
                        jhiTranslate="auxiliumApp.partner.home.titleDealers">Concessionnaire</span></a></li>
            <li class="breadcrumb-item"><span jhiTranslate="auxiliumApp.partner.details"></span></a></li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header style="padding-top: 1rem; padding-bottom: 1rem;">
            <h1 class="h3 display">
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>
            </h1>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center no-padding">
                        <div class="notice notice-info"><strong>Concessionnaire</strong></div>
                        <button class="btn btn-sm btn-primary float-right "
                            (click)="selectHistory(partner.id, entityName)">

                            <span class="hidden-sm-down" jhiTranslate="auxiliumApp.agency.home.History">History</span>
                        </button>
                    </div>
                    <form name="editForm" role="form" novalidate #editForm="ngForm">
                        <div class="modal-body" *ngIf="isCompanyLoaded">
                            <div class="row top-buffer">

                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.partner.companyName"
                                        for="field_raisonSociale">Raison Sociale</label>
                                    <input type="text" class="form-control form-control-sm" name="raisonSociale"
                                        id="field_raisonSociale" [(ngModel)]="partner.companyName"
                                        [pattern]="textPattern" readonly />
                                    <small class="form-text text-danger"
                                        [hidden]="!editForm.controls.raisonSociale?.errors?.pattern"
                                        jhiTranslate="entity.validation.pattern"
                                        translateValues="{ pattern: 'Raison Sociale' }">
                                        This field should follow pattern for "Mail".
                                    </small>
                                    <div
                                        [hidden]="!(editForm.controls.raisonSociale?.dirty && editForm.controls.raisonSociale?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.raisonSociale?.errors?.required"
                                            jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>

                                </div>

                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.partner.phone"
                                        for="field_premTelephone">Prem Telephone</label>
                                    <input type="text" class="form-control form-control-sm" name="premTelephone"
                                        id="field_premTelephone" [(ngModel)]="partner.phone" pattern="([0-9]{1,50})"
                                        readonly />
                                    <div
                                        [hidden]="!(editForm.controls.premTelephone?.dirty && editForm.controls.premTelephone?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.premTelephone?.errors?.pattern"
                                            jhiTranslate="entity.validation.pattern"
                                            translateValues="{ pattern: 'Prem Telephone' }">
                                            This field should follow pattern for "Prem Telephone".
                                        </small>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.partner.address"
                                        for="field_adresse">Adresse</label>
                                    <input readonly type="text" class="form-control form-control-sm" name="adresse"
                                        id="field_adresse" [(ngModel)]="partner.address" [pattern]="textPattern"
                                        maxlength="256" />
                                    <div
                                        [hidden]="!(editForm.controls.adresse?.dirty && editForm.controls.adresse?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.adresse?.errors?.required"
                                            jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.adresse?.errors?.maxlength"
                                            jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                                            This field cannot be longer than 256 characters.
                                        </small>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.partner.tradeRegister"
                                        for="field_registreCommerce">Registre Commerce</label>
                                    <input type="text" class="form-control form-control-sm" name="registreCommerce"
                                        id="field_registreCommerce" [(ngModel)]="partner.tradeRegister"
                                        [pattern]="textPatternAlphaNum" readonly maxlength="100" />
                                    <div
                                        [hidden]="!(editForm.controls.registreCommerce?.dirty && editForm.controls.registreCommerce?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.registreCommerce?.errors?.required"
                                            jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.registreCommerce?.errors?.maxlength"
                                            jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                                            This field cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>

                            </div>

                            <div class="row top-buffer">
                                <div class="col-sm-3">
                                    <label class="form-control-label"
                                        jhiTranslate="auxiliumApp.partner.taxIdentificationNumber"
                                        for="field_matriculeFiscale">Matricule Fiscale</label>
                                    <input readonly type="text" class="form-control form-control-sm"
                                        name="matriculeFiscale" id="field_matriculeFiscale"
                                        [(ngModel)]="partner.taxIdentificationNumber" [pattern]="textPatternAlphaNum" />
                                    <div
                                        [hidden]="!(editForm.controls.matriculeFiscale?.dirty && editForm.controls.matriculeFiscale?.invalid)">
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <label class="form-control-label" for="field_bloque"
                                        style="width: 100%;">&nbsp;</label>
                                    <input disabled type="checkbox" class="check-input" name="bloque" id="field_bloque"
                                        [(ngModel)]="partner.active" />
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.partner.bloque"
                                        for="field_bloque">Bloque</label>
                                </div>

                                <!--<div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.partner.attachment" for="field_logo">Logo</label>
                                    <div>
                                        <div *ngIf="partner.attachment" class="form-text text-danger clearfix">
                                            <a class="pull-left" (click)="openFile(refCompagnie.logoContentType, refCompagnie.logo)" jhiTranslate="entity.action.open">open</a><br>
                                            <span class="pull-left">{{refCompagnie.logoContentType}}, {{byteSize(refCompagnie.logo)}}</span>
                                            <button type="button" (click)="refCompagnie.logo=null;refCompagnie.logoContentType=null;"
                                                    class="btn btn-default btn-xs pull-right">
                                                <span class="fa fa-times"></span>
                                            </button>
                                        </div>
                                        <input type="file" (change)="setFileData($event, refCompagnie, 'logo', false)" jhiTranslate="entity.action.addblob"/>
                                    </div>
                                    <input type="hidden" class="form-control" name="logo" id="field_logo"
                                        [(ngModel)]="refCompagnie.logo"  />
                                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                                        [(ngModel)]="refCompagnie.logoContentType" />
                                </div>-->
                            </div>
                            <div class="row top-buffer">

                                <div class="col-sm-2">
                                    <label jhiTranslate="auxiliumApp.partner.attachment"
                                        for="attachmentLogo">logo</label>
                                </div>
                                <div class="col-sm-3">
                                    <span class="input-group-btn" *ngIf="logoPreview">
                                        <button type="button" class="btn btn-sm btn-default"
                                            (click)="downloadLogoFile()"><i class="fa fa-sm fa-download"></i></label>
                                    </span>
                                </div>

                            </div>
                        </div>

                        <!-- Vis à Vis -->

                        <header style="padding-top: 1rem; padding-bottom: 1rem;">
                            <h1 class="h3 display"></h1>
                        </header>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center no-padding">
                                        <div class="notice notice-info"><strong> Vis à Vis :
                                            </strong></div>
                                    </div>
                                    <div *ngIf="this.disabledForm1">
                                        <form name="editFormVisAVis" role="form" novalidate #editFormVisAVis="ngForm">
                                            <div class="card-body">
                                                <div class="row top-buffer">

                                                    <div class="col-sm-3">
                                                        <label class="form-control-label"
                                                            jhiTranslate="auxiliumApp.visAVis.nom"
                                                            for="field_nom">Nom</label>
                                                        <input type="text" class="form-control form-control-sm"
                                                            name="nom" id="field_nomvisAVis" [(ngModel)]="visAVis.nom"
                                                            [pattern]="textPatternNotAlphNul" readonly />
                                                        <small class="form-text text-danger"
                                                            [hidden]="!editFormVisAVis.controls.nom?.errors?.pattern"
                                                            jhiTranslate="entity.validation.pattern"
                                                            translateValues="{ pattern: 'Nom' }">This field
                                                            should
                                                            follow pattern for "Mail".</small>
                                                        <div
                                                            [hidden]="!(editFormVisAVis.controls.nom?.dirty && editFormVisAVis.controls.nom?.invalid)">
                                                            <small class="form-text text-danger"
                                                                [hidden]="!editFormVisAVis.controls.nom?.errors?.required"
                                                                jhiTranslate="entity.validation.required">This
                                                                field is
                                                                required.personnePhysique</small>
                                                            <small class="form-text text-danger"
                                                                [hidden]="!editFormVisAVis.controls.nom?.errors?.maxlength"
                                                                jhiTranslate="entity.validation.maxlength"
                                                                translateValues="{ max: 100 }">This field cannot
                                                                be
                                                                longer than 100 characters.</small>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label class="form-control-label"
                                                            jhiTranslate="auxiliumApp.visAVis.prenom"
                                                            for="field_prenom">Prenom</label>
                                                        <input type="text" class="form-control form-control-sm"
                                                            name="prenom" id="field_prenom" [(ngModel)]="visAVis.prenom"
                                                            [pattern]="textPatternNotAlphNul" readonly />
                                                        <small class="form-text text-danger"
                                                            [hidden]="!editFormVisAVis.controls.prenom?.errors?.pattern"
                                                            jhiTranslate="entity.validation.pattern"
                                                            translateValues="{ pattern: 'prénom' }">This field
                                                            should
                                                            follow pattern for "Mail".</small>
                                                        <div
                                                            [hidden]="!(editFormVisAVis.controls.prenom?.dirty && editFormVisAVis.controls.prenom?.invalid)">
                                                            <small class="form-text text-danger"
                                                                [hidden]="!editFormVisAVis.controls.prenom?.errors?.required"
                                                                jhiTranslate="entity.validation.required">This
                                                                field is
                                                                required.</small>
                                                            <small class="form-text text-danger"
                                                                [hidden]="!editFormVisAVis.controls.prenom?.errors?.maxlength"
                                                                jhiTranslate="entity.validation.maxlength"
                                                                translateValues="{ max: 100 }">This field cannot
                                                                be
                                                                longer than 100 characters.</small>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label class="form-control-label"
                                                            jhiTranslate="auxiliumApp.visAVis.tel"
                                                            for="field_premTelephone">Prem Telephone</label>
                                                        <input type="text" class="form-control form-control-sm"
                                                            name="premTelephone" id="field_premTelephone"
                                                            [(ngModel)]="visAVis.premTelephone" pattern="([0-9]{1,50})"
                                                            readonly />
                                                        <div
                                                            [hidden]="!(editFormVisAVis.controls.premTelephone?.dirty && editFormVisAVis.controls.premTelephone?.invalid)">
                                                            <small class="form-text text-danger"
                                                                [hidden]="!editFormVisAVis.controls.premTelephone?.errors?.pattern"
                                                                jhiTranslate="entity.validation.pattern"
                                                                translateValues="{ pattern: 'Prem Telephone' }">This
                                                                field should follow pattern for "Prem
                                                                Telephone".</small>
                                                        </div>
                                                    </div>



                                                    <div class="col-sm-3">
                                                        <label class="form-control-label"
                                                            jhiTranslate="auxiliumApp.visAVis.fax"
                                                            for="field_fax">Fax</label>
                                                        <input type="text" class="form-control form-control-sm"
                                                            name="fax" id="field_fax" [(ngModel)]="visAVis.fax"
                                                            pattern="([0-9]{1,50})" readonly />
                                                        <div
                                                            [hidden]="!(editFormVisAVis.controls.fax?.dirty && editFormVisAVis.controls.fax?.invalid)">
                                                            <small class="form-text text-danger"
                                                                [hidden]="!editFormVisAVis.controls.fax?.errors?.pattern"
                                                                jhiTranslate="entity.validation.pattern"
                                                                translateValues="{ pattern: 'Fax' }">This field
                                                                should
                                                                follow pattern for "Prem Telephone".</small>
                                                        </div>
                                                    </div>



                                                </div>
                                                <!--here-->
                                                <div class="row top-buffer">

                                                    <div class="col-sm-3">
                                                        <label class="form-control-label"
                                                            jhiTranslate="auxiliumApp.visAVis.email"
                                                            for="field_premMail">Prem Mail</label>
                                                        <input type="email" class="form-control form-control-sm"
                                                            name="premMail" id="field_premMail"
                                                            [(ngModel)]="visAVis.premMail"
                                                            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                                            readonly />
                                                        <div
                                                            [hidden]="!(editFormVisAVis.controls.premMail?.dirty && editFormVisAVis.controls.premMail?.invalid)">
                                                            <small class="form-text text-danger"
                                                                [hidden]="!editFormVisAVis.controls.premMail?.errors?.required"
                                                                jhiTranslate="entity.validation.required">This
                                                                field is
                                                                required.</small>
                                                            <small class="form-text text-danger"
                                                                [hidden]="!editFormVisAVis.controls.premMail?.errors?.pattern"
                                                                jhiTranslate="entity.validation.pattern"
                                                                translateValues="{ pattern: 'Prem Mail' }">This
                                                                field
                                                                should follow pattern for "Mail".</small>
                                                        </div>
                                                    </div>



                                                    <div class="col-sm-2">

                                                    </div>
                                                </div>


                                            </div>
                                        </form>
                                    </div>


                                    <div class="card-body">
                                        <div class="table-responsive" *ngIf="visAViss && visAViss.length > 0">
                                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggerVisAVis"
                                                class="table table-sm table-hover table-bordered" style="width: 100%">
                                                <thead style="color:white;background-color:#11859b">
                                                    <tr>
                                                        <th><span jhiTranslate="auxiliumApp.visAVis.nom">nom</span>
                                                        </th>
                                                        <th><span
                                                                jhiTranslate="auxiliumApp.visAVis.prenom">Prenom</span>
                                                        </th>
                                                        <th><span jhiTranslate="auxiliumApp.visAVis.tel">tel</span>
                                                        </th>
                                                        <th><span jhiTranslate="auxiliumApp.visAVis.fax">Fax</span>
                                                        </th>
                                                        <th><span jhiTranslate="auxiliumApp.visAVis.email">Email</span>
                                                        </th>
                                                        <th class="no-sort"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let visAVis of visAViss ;trackBy: trackVisAVissId">
                                                        <td>{{visAVis.nom}}</td>
                                                        <td>{{visAVis.prenom}}</td>
                                                        <td>{{visAVis.premTelephone}}</td>
                                                        <td>{{visAVis.fax}}</td>
                                                        <td>{{visAVis.premMail}}</td>
                                                        <td class="text-right">
                                                            <div class="btn-group flex-btn-group-container">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-lg-12" style="margin-top: 10px">
                                    <div class="form-group">
                                        &nbsp;&nbsp;
                                        <button type="submit" [routerLink]="['/dealer']" replaceUrl="true"
                                            class="btn btn-default btn-sm pull-right margin-right-5">
                                            <span jhiTranslate="entity.action.back">Back</span>
                                        </button>
                                        &nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>