
<div *ngIf="step">
    <h2><span jhiTranslate="auxiliumApp.step.detail.title">Step</span> {{step.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="auxiliumApp.step.code">Code</span></dt>
        <dd>
            <span>{{step.code}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.step.label">Label</span></dt>
        <dd>
            <span>{{step.label}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.step.active">Active</span></dt>
        <dd>
            <span>{{step.active}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'step/'+ step.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
