
<div *ngIf="lien">
    <h2><span jhiTranslate="AuxiliumApp.lien.detail.title">Lien</span> {{lien.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="AuxiliumApp.lien.name">Name</span></dt>
        <dd>
            <span>{{lien.name}}</span>
        </dd>
        <dt><span jhiTranslate="AuxiliumApp.lien.url">Url</span></dt>
        <dd>
            <span>{{lien.url}}</span>
        </dd>
        <dt><span jhiTranslate="AuxiliumApp.lien.cellules">Cellules</span></dt>
        <dd>
            <span *ngFor="let cellules of lien.cellules; let last = last">
                <a [routerLink]="['/cellule', cellules?.id ]">{{cellules.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'lien/'+ lien.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;&nbsp;&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
