



<section class="forms">
	<div class="container-fluid">
		<!-- Page Header-->
		<header>
			<h1 class="h3 display">
				<jhi-alert-error></jhi-alert-error>
			</h1>
		</header>
		<div class="row">

			<div class="col-lg-12">
                    <div class="card">
                            <div class="card-header d-flex align-items-center no-padding" >
                                <div class="notice notice-info"><strong jhiTranslate="auxiliumApp.refZoneGeo.home.title">ref Zone Geo</strong></div>
                            </div>
                            <div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6">
							<form name="searchForm" class="form-inline">
								<div class="input-group w-100 mt-3">
									<input type="text" class="form-control"
										[(ngModel)]="currentSearch" id="currentSearch"
										name="currentSearch"
										placeholder="{{ 'auxiliumApp.refZoneGeo.home.search' | translate }}">
									<button class="input-group-addon btn btn-info"
										(click)="search(currentSearch)">
										<span class="fa fa-search"></span>
									</button>
									<button class="input-group-addon btn btn-danger"
										(click)="clear()" *ngIf="currentSearch">
										<span class="fa fa-sm fa-remove"></span>
									</button>
								</div>
							</form>

						</div>

						<div class="col-sm-3">
							<br>
							<button
								class="btn btn-primary float-right jh-create-entity create-ref-zone-geo"
								[routerLink]="['/', { outlets: { popup: ['ref-zone-geo-new'] } }]">
								<span class="fa fa-plus"></span> <span class="hidden-sm-down"
									jhiTranslate="auxiliumApp.refZoneGeo.home.createLabel">
									Create new Ref Zone Geo </span>
							</button>
						</div>
					</div>

					<br />
					<div class="table-responsive" *ngIf="refZoneGeos">
						<table class="table table-striped">
							<thead>
								<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
									[callback]="transition.bind(this)">
									<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
										<span class="fa fa-sort"></span></th>
									<th jhiSortBy="libelle"><span
										jhiTranslate="auxiliumApp.refZoneGeo.libelle">Libelle</span> <span
										class="fa fa-sort"></span></th>
 								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let refZoneGeo of refZoneGeos ;trackBy: trackId">
									<td><a [routerLink]="['../ref-zone-geo', refZoneGeo.id ]">{{refZoneGeo.id}}</a></td>
									<td>{{refZoneGeo.libelle}}</td>
									<td class="text-right">
										<div class="btn-group flex-btn-group-container">
											<button type="submit"
												[routerLink]="['../ref-zone-geo', refZoneGeo.id ]"
												class="btn btn-info btn-sm">
												<span class="fa fa-eye"></span> <span class="hidden-md-down"
													jhiTranslate="entity.action.view">View</span>
											</button>
											<button type="submit"
												[routerLink]="['/', { outlets: { popup: 'ref-zone-geo/'+ refZoneGeo.id + '/edit'} }]"
												replaceUrl="true" class="btn btn-primary btn-sm">
												<span class="fa fa-pencil"></span> <span
													class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
											</button>
											<button type="submit"
												[routerLink]="['/', { outlets: { popup: 'ref-zone-geo/'+ refZoneGeo.id + '/delete'} }]"
												replaceUrl="true" class="btn btn-danger btn-sm">
												<span class="fa fa-remove"></span> <span
													class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="modal-footer row justify-content-center">
						<div *ngIf="refZoneGeos && refZoneGeos.length">
							<div class="row justify-content-center">
								<jhi-item-count [page]="page" [total]="queryCount"
									[itemsPerPage]="itemsPerPage"></jhi-item-count>
							</div>
							<div class="row justify-content-center">
								<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
									(pageChange)="loadPage(page)"></ngb-pagination>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

</section>
