<!-- Breadcrumb-->
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/"><span jhiTranslate="global.menu.home">Home</span></a></li>
            <li class="breadcrumb-item"><a routerLink="/ref-remorqueur"><span jhiTranslate="auxiliumApp.refRemorqueur.home.title">Dossiers</span></a></li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
<!-- Page Header-->
<header style="padding-top: 1rem; padding-bottom: 1rem;">
<h1 class="h3 display">
<jhi-alert-error></jhi-alert-error>
<jhi-alert></jhi-alert>
</h1>
</header>
<div class="row">
<div class="col-lg-12">
<div class="card">
<div class="card-header d-flex align-items-center no-padding" >
</div>
	
<div class="card-body">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-hover table-bordered" style="width: 100%">
                    <thead style="color:white;background-color:#11859b">
                                            <tr>
                                                 <th><span jhiTranslate="auxiliumApp.refRemorqueur.societe">Societe</span></th>
                                            
                                                <th><span jhiTranslate="auxiliumApp.refRemorqueur.bordereau">Bordereau</span></th>
                                                
                                                <th class="no-sort"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                    <tr *ngFor="let refRemorqueur of refRemorqueurs ">
                                                       
                                                          <td>
                                                            <div *ngIf="refRemorqueur.societeId">
                                                                <a
                                                                    [routerLink]="['../personne-morale', refRemorqueur.societeId  ]">{{refRemorqueur.societeRaisonSociale}}</a>
                                                            </div>
                                                          </td>
                                                        

                                                            <td class="text-right">
                                                                    <div class="btn-group flex-btn-group-container">
                                                                        <button style="font-size:24px" (click)="bordereau(refRemorqueur)"
                                                                           class="fa fa-download"> Télécharger</i></button>
                                                                     
                                                                    </div>                                                              
                                                            </td>
                                                     </tr>
                                                    </tbody>                                                
                                                </table>
    </div>
    <div *ngIf="refRemorqueurs && refRemorqueurs.length"></div>

</div>
</div>
<div class="btn-group flex-btn-group-container">
    <button style="font-size:24px"(click)="bordereau(refRemorqueur)" 
       class="fa fa-download"> Télécharger Tous</i>
    </button>
</div>  
</div>
<div>
    