<!-- Breadcrumb-->
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/"><span class="fa fa-home"></span>&nbsp;&nbsp;<span jhiTranslate="global.menu.home">Home</span></a></li>
            <li class="breadcrumb-item"><a routerLink="/vehicle-brand-model"><span jhiTranslate="auxiliumApp.vehicleBrandModel.home.title">Vehicle brand model</span></a></li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header style="padding-top: 1rem; padding-bottom: 1rem;">
            <h1 class="h3 display">
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>
            </h1>
        </header>

        <div class="row">
            <div class="col-lg-12" *ngIf="permissionToAccess.canCreate || permissionToAccess.canUpdate">
                <div class="card">
                    <div class="card-header d-flex align-items-center no-padding" >
                        <div class="notice notice-info">
                            <span class="fa fa-bandcamp" style="color: #45ABCD"></span>&nbsp;&nbsp;<strong jhiTranslate="auxiliumApp.vehicleBrandModel.home.createOrEditLabel">VehicleBrandModel</strong>
                        </div>
                    </div>

                    <div class="card-body">
                        <form #myform="ngForm" novalidate>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label"
                                            jhiTranslate="auxiliumApp.vehicleBrandModel.label" for="field_label">Label</label>
                                        <input type="text" class="form-control form-control-sm"
                                            name="label" id="field_label" [(ngModel)]="vehicleBrandModel.label" (blur)="trimLabel();" 
                                            (ngModelChange)="findModelByLabel(vehicleBrandModel.label)" [pattern]="textPattern" required />
                                            <small class="form-text text-danger"
                                        [hidden]="!myform.controls.label?.errors?.pattern"
                                        jhiTranslate="entity.validation.pattern"
                                        translateValues="{ pattern: 'label' }">
                                        This field should follow pattern for "label".
                                    </small>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label jhiTranslate="auxiliumApp.vehicleBrandModel.brand" for="field_brand">Brand</label>
                                    <select class="form-control form-control-sm" id="field_brand" name="brand" [(ngModel)]="vehicleBrandModel.brandId" required>
                                        <option [ngValue]="vehicleBrandOption.id" *ngFor="let vehicleBrandOption of vehiclebrands; trackBy: trackVehicleBrandById">{{vehicleBrandOption.label}}</option>
                                    </select>
                                </div>                               
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label style="width: 100%">&nbsp;</label>
                                        <button *ngIf="!vehicleBrandModel.id && permissionToAccess.canCreate" type="button" [disabled]=" myform.invalid || existLabel"  (click)="save()" class="btn btn-sm btn-primary margin-right-5">
                                            <span class="fa fa-save"></span>&nbsp; <span jhiTranslate="entity.action.save">Save</span>
                                        </button>
                                        <button *ngIf="vehicleBrandModel.id && permissionToAccess.canUpdate" type="button" [disabled]=" myform.invalid || existLabel" (click)="save()" class="btn btn-sm btn-primary margin-right-5">
                                          <span jhiTranslate="entity.action.aJour">update</span>
                                        </button>
                                        <button type="button" (click)="cancel()" class="btn btn-sm btn-default margin-right-5">
                                           <span jhiTranslate="entity.action.cancel">cancel</span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center no-padding" >
                        <div class="notice notice-info">
                            <strong jhiTranslate="auxiliumApp.vehicleBrandModel.home.title">Vehicle brand</strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-hover table-bordered" style="width: 100%">
                                <thead style="color:white;background-color:#11859b">
                                <tr>
                                    <th><span jhiTranslate="auxiliumApp.vehicleBrandModel.label">Label</span></th>
                                    <th><span jhiTranslate="auxiliumApp.vehicleBrandModel.brand">Brand</span></th>
                                    <th class="no-sort"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let vehicleBrandModel of vehicleBrandModels">
                                    <td>{{vehicleBrandModel.label}} </td>
                                    <td>{{vehicleBrandModel.brandLabel}} </td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="button" *ngIf="permissionToAccess.canUpdate" (click)="edit(vehicleBrandModel.id)" class="btn btn-primary btn-sm">
                                                <span class="fa fa-sm fa-pencil"></span>
                                            </button>&nbsp;&nbsp;
                                            <button class="btn btn-sm btn-primary float-right "  (click)="selectHistory(vehicleBrandModel.id, entityName)">
                                                <span class="hidden-sm-down" jhiTranslate="auxiliumApp.agency.home.History">History</span>
                                            </button>
                                            <!--
                                            <button type="button" (click)="delete(vehicleBrandModel.id)" class="btn btn-danger btn-sm">
                                                <span class="fa fa-sm fa-remove"></span>
                                            </button>                                            
                                            -->
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
