<!-- Breadcrumb-->
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><span class="fa fa-home"></span>&nbsp;&nbsp;<a routerLink="/"><span
                        jhiTranslate="global.menu.home">Home</span></a></li>
            <li class="breadcrumb-item"><a routerLink="/agency"><span
                        jhiTranslate="auxiliumApp.agency.home.title">Agency</span></a></li>
            <li class="breadcrumb-item"><span
                        jhiTranslate="auxiliumApp.agency.details">créer</span></a></li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header style="padding-top: 1rem; padding-bottom: 1rem;">
            <h1 class="h3 display">
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>
            </h1>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center no-padding">
                        <div class="notice notice-info"><strong>Agent</strong></div>
                        <button class="btn btn-sm btn-primary float-right " (click)="selectHistory(agency.id, entityName)">

                            <span class="hidden-sm-down" jhiTranslate="auxiliumApp.agency.home.History">History</span>
                        </button>
                    </div>
                    <form name="editForm" role="form" novalidate #editForm="ngForm">
                        <div class="modal-body">
                            <div class="row top-buffer">

                                <div class="col-sm-4">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.partner"
                                        for="field_partner">Partner</label>
                                    <select class="form-control" id="field_partner" name="partner"
                                        [(ngModel)]="agency.partnerId" readonly disabled>

                                        <option [ngValue]="partnerOption.id"
                                            *ngFor="let partnerOption of partners; trackBy: trackPartnerById">
                                            {{partnerOption.companyName}}</option>
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.code"
                                        for="field_code">Code</label>
                                    <input readonly type="text" class="form-control form-control-sm" name="code"
                                        id="field_code" [(ngModel)]="agency.code" pattern="([0-9]{1,50})" required maxlength="256" />
                                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.code?.errors?.required"
                                            jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.code?.errors?.maxlength"
                                            jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                                            This field cannot be longer than 256 characters.
                                        </small>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.name"
                                        for="field_name">Nom Agence</label>
                                    <input readonly type="text" class="form-control form-control-sm" name="name" [pattern]="textPattern"
                                        id="field_name" [(ngModel)]="agency.name" required maxlength="256" />
                                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.name?.errors?.required"
                                            jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.name?.errors?.maxlength"
                                            jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                                            This field cannot be longer than 256 characters.
                                        </small>
                                    </div>
                                </div>



                            </div>

                            <div class="row top-buffer">

                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.phone"
                                        for="field_phone">Telephone</label>
                                    <input readonly class="form-control form-control-sm" name="phone" id="field_phone"
                                        [(ngModel)]="agency.phone" pattern="([0-9]{1,50})" />
                                    <div
                                        [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.phone?.errors?.pattern"
                                            jhiTranslate="entity.validation.pattern"
                                            translateValues="{ pattern: 'Telephone' }">
                                            This field should follow pattern for "Telephone".
                                        </small>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.mobile"
                                        for="field_mobile">mobile</label>
                                    <input readonly class="form-control form-control-sm" name="mobile" id="field_mobile"
                                        [(ngModel)]="agency.mobile" pattern="([0-9]{1,50})" />
                                    <div
                                        [hidden]="!(editForm.controls.mobile?.dirty && editForm.controls.mobile?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.mobile?.errors?.pattern"
                                            jhiTranslate="entity.validation.pattern"
                                            translateValues="{ pattern: 'mobile' }">
                                            This field should follow pattern for "mobile".
                                        </small>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.fax"
                                        for="field_fax">fax</label>
                                    <input readonly class="form-control form-control-sm" name="fax" id="field_fax"
                                        [(ngModel)]="agency.fax" pattern="([0-9]{1,50})" />
                                    <div [hidden]="!(editForm.controls.fax?.dirty && editForm.controls.fax?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.fax?.errors?.pattern"
                                            jhiTranslate="entity.validation.pattern"
                                            translateValues="{ pattern: 'fax' }">
                                            This field should follow pattern for "fax".
                                        </small>
                                    </div>
                                </div>



                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.email"
                                        for="field_email">EMail</label>
                                    <input type="email" class="form-control form-control-sm" name="email"
                                        id="field_email" [(ngModel)]="agency.email"
                                        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" readonly />
                                    <div
                                        [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.email?.errors?.required"
                                            jhiTranslate="entity.validation.required">This
                                            field is
                                            required.</small>
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.email?.errors?.pattern"
                                            jhiTranslate="entity.validation.pattern"
                                            translateValues="{ pattern: 'email' }">This
                                            field
                                            should follow pattern for "Mail".</small>
                                    </div>
                                </div>






                            </div>

                            <div class="row top-buffer">

                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.governorate"
                                        for="field_governorate">governorate</label>
                                    <select class="form-control" id="field_governorate" name="governorate"
                                        [(ngModel)]="agency.governorateId" readonly disabled>

                                        <option [ngValue]="governorateOption.id"
                                            *ngFor="let governorateOption of governorates; trackBy: trackGovernorateById">
                                            {{governorateOption.label}}</option>
                                    </select>
                                </div>


                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.delegation"
                                        for="Delegation">delegation</label>
                                    <select class="form-control" id="Delegation" name="delegation"
                                        [(ngModel)]="agency.delegationId" readonly disabled>

                                        <option [ngValue]="delegationOption.id"
                                            *ngFor="let delegationOption of delegations; trackBy: trackDelegationById">
                                            {{delegationOption.label}}</option>
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.region"
                                        for="field_region">region</label>
                                    <select class="form-control" id="field_region" name="region"
                                        [(ngModel)]="agency.regionId" readonly disabled>

                                        <option [ngValue]="regionOption.id"
                                            *ngFor="let regionOption of regions; trackBy: trackRegionById">
                                            {{regionOption.label}}</option>
                                    </select>
                                </div>





                            </div>

                            <div class="row top-buffer">
                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.address"
                                        for="field_address">Adresse</label>
                                    <input readonly type="text" class="form-control form-control-sm" name="address"
                                        id="field_address" [(ngModel)]="agency.address" [pattern]="textPatternAlphaNum" required maxlength="256" />
                                    <div
                                        [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.address?.errors?.required"
                                            jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.address?.errors?.maxlength"
                                            jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                                            This field cannot be longer than 256 characters.
                                        </small>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.zipcode"
                                        for="field_zipcode">Zipcode</label>
                                    <input readonly class="form-control form-control-sm" name="zipcode"
                                        id="field_zipcode" [(ngModel)]="agency.zipcode" pattern="([0-9]{1,50})" />
                                    <div
                                        [hidden]="!(editForm.controls.zipcode?.dirty && editForm.controls.zipcode?.invalid)">
                                        <small class="form-text text-danger"
                                            [hidden]="!editForm.controls.zipcode?.errors?.pattern"
                                            jhiTranslate="entity.validation.pattern"
                                            translateValues="{ pattern: 'Code Postale' }">
                                            This field should follow pattern for "Code Postale".
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.type"
                                        for="field_type">type</label>
                                    <select class="form-control" id="field_type" name="type" [(ngModel)]="agency.type"
                                        readonly disabled>
                                        <option [ngValue]="type.libelle"
                                            *ngFor="let type of types; trackBy: trackTypeById">{{type.libelle}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-control-label" jhiTranslate="auxiliumApp.agency.category"
                                        for="field_category">category</label>
                                    <select class="form-control" id="field_category" name="category"
                                        [(ngModel)]="agency.category" readonly disabled>
                                        <option [ngValue]="categorie.libelle"
                                            *ngFor="let categorie of categories; trackBy: trackCategorieById">
                                            {{categorie.libelle}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-lg-12" style="margin-top: 10px">
                                    <div class="form-group">
                                        &nbsp;&nbsp;
                                        <button type="submit" [routerLink]="['/agency']" replaceUrl="true"
                                            class="btn btn-default btn-sm pull-right margin-right-5">
                                           <span
                                                jhiTranslate="entity.action.back">Back</span>
                                        </button>
                                        &nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>