
<div *ngIf="refModeReglement">
    <h2><span jhiTranslate="auxiliumApp.refModeReglement.detail.title">Ref Mode Reglement</span> {{refModeReglement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="auxiliumApp.refModeReglement.nom">Nom</span></dt>
        <dd>
            <span>{{refModeReglement.nom}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.refModeReglement.isBloque">Is Bloque</span></dt>
        <dd>
            <span>{{refModeReglement.isBloque}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ref-mode-reglement/'+ refModeReglement.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;&nbsp;&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
