<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserCelluleLabel" jhiTranslate="AuxiliumApp.userCellule.home.createOrEditLabel">Create or edit a User Cellule</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userCellule.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userCellule.id" readonly />
        </div>

        <div class="form-group">
            <label jhiTranslate="AuxiliumApp.userCellule.userCellule" for="field_userCellule">User Cellule</label>
            <select class="form-control" id="field_userCellule" name="userCellule" [(ngModel)]="userCellule.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="AuxiliumApp.userCellule.userCellule" for="field_userCellule">User Cellule</label>
            <select class="form-control" id="field_userCellule" name="userCellule" [(ngModel)]="userCellule.celluleId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="celluleOption.id" *ngFor="let celluleOption of cellules; trackBy: trackCelluleById">{{celluleOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
