<form name="editForm" role="form" novalidate  #editForm="ngForm">

    
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" hidden>
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tiers.id" readonly />
        </div>
       <div class="row">
			<div class="col-sm-2">
            <label class="form-control-label" jhiTranslate="auxiliumApp.tiers.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control form-control-sm" name="prenom" id="field_prenom"
                [(ngModel)]="tiers.prenom" maxlength="100" />
            <!--div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                <!--small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenom?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div-->
        </div>
       	<div class="col-sm-2">
            <label class="form-control-label" jhiTranslate="auxiliumApp.tiers.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control form-control-sm" name="nom" id="field_nom"
                [(ngModel)]="tiers.nom" maxlength="100" />
            <!--div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                <!--small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small-->
                <!--small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div-->
        </div>
       
			<div class="col-sm-2">
            <label class="form-control-label" jhiTranslate="auxiliumApp.tiers.debutValidite" for="field_debutValidite">Debut Validite</label>
            <div class="input-group">
                <input id="field_debutValidite" type="text" class="form-control form-control-sm" name="debutValidite" ngbDatepicker  #debutValiditeDp="ngbDatepicker" [(ngModel)]="tiers.debutValidite" [minDate]="minDate"
                [maxDate]="maxDate" required="false"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-default" (click)="debutValiditeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <!--div [hidden]="!(editForm.controls.debutValidite?.dirty && editForm.controls.debutValidite?.invalid)">
                <!--small class="form-text text-danger"
                   [hidden]="!editForm.controls.debutValidite?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small-->
            <!--/div-->
        </div>
       <div class="col-sm-2">
            <label class="form-control-label" jhiTranslate="auxiliumApp.tiers.finValidite" for="field_finValidite">Fin Validite</label>
            <div class="input-group">
                <input id="field_finValidite" type="text" class="form-control form-control-sm" name="finValidite" ngbDatepicker  #finValiditeDp="ngbDatepicker" [(ngModel)]="tiers.finValidite" [minDate]="minDate"
                [maxDate]="maxDate" ng-required="false"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-default" (click)="finValiditeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <!--div [hidden]="!(editForm.controls.finValidite?.dirty && editForm.controls.finValidite?.invalid)">
                <!--small class="form-text text-danger"
                   [hidden]="!editForm.controls.finValidite?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small-->
            <!--/div-->
        </div>
        
			<div class="col-sm-2">
            <label class="form-control-label" jhiTranslate="auxiliumApp.tiers.compagnieAssurance" for="field_compagnieAssurance">Compagnie Assurance</label>
            <select class="form-control form-control-sm" id="field_compagnieAssurance" name="compagnieAssurance" [(ngModel)]="tiers.compagnieId">
                    <option [ngValue]="compagnieOption.id" *ngFor="let compagnieOption of compagnies; trackBy: trackcompagnieOptionById">
                    {{compagnieOption.nom}}
                    </option>
            </select>
            <!--div [hidden]="!(editForm.controls.compagnieAssurance?.dirty && editForm.controls.compagnieAssurance?.invalid)">
                <!--small class="form-text text-danger"
                   [hidden]="!editForm.controls.compagnieAssurance?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small-->
                <!--small class="form-text text-danger"
                   [hidden]="!editForm.controls.compagnieAssurance?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div-->
        </div>
        	<div class="col-sm-2">
            <label class="form-control-label" jhiTranslate="auxiliumApp.tiers.immatriculation" for="field_immatriculation">Immatriculation</label>
            <input type="text" class="form-control form-control-sm" name="immatriculation" id="field_immatriculation"
                [(ngModel)]="tiers.immatriculation" />
            <!--div [hidden]="!(editForm.controls.immatriculation?.dirty && editForm.controls.immatriculation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.immatriculation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.immatriculation?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Immatriculation' }">
                    This field should follow pattern for "Immatriculation".
                </small>
            </div-->
        </div>

    </div>
</form>