
<div *ngIf="tiers">
    <h2><span jhiTranslate="auxiliumApp.tiers.detail.title">Tiers</span> {{tiers.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="auxiliumApp.tiers.prenom">Prenom</span></dt>
        <dd>
            <span>{{tiers.prenom}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.tiers.nom">Nom</span></dt>
        <dd>
            <span>{{tiers.nom}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.tiers.debutValidite">Debut Validite</span></dt>
        <dd>
            <span>{{tiers.debutValidite | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.tiers.finValidite">Fin Validite</span></dt>
        <dd>
            <span>{{tiers.finValidite | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.tiers.compagnieAssurance">Compagnie Assurance</span></dt>
        <dd>
            <span>{{tiers.compagnieAssurance}}</span>
        </dd>
        <dt><span jhiTranslate="auxiliumApp.tiers.immatriculation">Immatriculation</span></dt>
        <dd>
            <span>{{tiers.immatriculation}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tiers/'+ tiers.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
