<!-- Breadcrumb-->
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/"><span class="fa fa-home"></span>&nbsp;&nbsp;<span
                        jhiTranslate="global.menu.home">Home</span></a></li>
            <li class="breadcrumb-item"><a routerLink="/sinister-pec-refused"><span
                        jhiTranslate="auxiliumApp.sinisterPec.home.titlePecRefused">sinistre pec refusé</span></a></li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header style="padding-top: 1rem; padding-bottom: 1rem;">
            <h1 class="h3 display">
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>
            </h1>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center no-padding">
                        <div class="notice notice-info">
                            <strong jhiTranslate="auxiliumApp.sinisterPec.home.titlePecRefused">Sinister Pecs Refused</strong>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table table-sm table-hover table-bordered" style="width: 100%">
                                <thead style="color:white;background-color:#11859b">
                                    <tr>
                                        <th><span jhiTranslate="auxiliumApp.sinisterPec.reference">Reference</span></th>
                                        <th><span jhiTranslate="auxiliumApp.sinisterPec.companyName">Company Name</span>
                                        </th>
                                        <th><span jhiTranslate="auxiliumApp.sinisterPec.agentName">Agent Name</span>
                                        </th>
                                        <th><span jhiTranslate="auxiliumApp.sinisterPec.contractNumber">Contract
                                                Number</span></th>
                                        <th><span jhiTranslate="auxiliumApp.sinisterPec.insuredImmatriculation">Insured
                                                Immatriculation </span></th>
                                        <th><span jhiTranslate="auxiliumApp.sinisterPec.tiersImmatriculation">Tiers
                                                Immatriculation </span></th>
                                        <th><span jhiTranslate="auxiliumApp.sinisterPec.modeGestion">Mode de
                                                gestion</span></th>
                                        <th><span jhiTranslate="auxiliumApp.sinisterPec.responsabilite">Responsabilité 
                                                </span></th>
                                        <th><span jhiTranslate="auxiliumApp.sinisterPec.casBareme">Cas de barème 
                                                </span></th>
                                        <th><span jhiTranslate="auxiliumApp.sinisterPec.creationDate">Creation
                                                Date</span></th>
                                        <th><span jhiTranslate="auxiliumApp.sinisterPec.incidentDate">Incident
                                                        Date</span></th>
                                        <th><span jhiTranslate="auxiliumApp.sinisterPec.chargeName">Nom chargé
                                                </span></th>
                                        
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sinisterPec of sinisterPecsBeingProcessed ;trackBy: trackId">
                                      
                                        <td>{{sinisterPec.gaReference}}</td>
                                        <td>{{sinisterPec.companyName}}</td>
                                        <td>{{sinisterPec.agencyName}}</td>
                                        <td>{{sinisterPec.contractNumber}}</td>
                                        <td>{{sinisterPec.immatriculation}}</td>
                                        <td>{{sinisterPec.immatriculationTier}}</td>
                                        <td>{{sinisterPec.modeLabel}}</td>
                                        <td>{{sinisterPec.responsabiliteX}}</td>
                                        <td>{{sinisterPec.codeBareme}}</td>
                                        <td>{{sinisterPec.declarationDate}}</td>
                                        <td>{{sinisterPec.incidentDate}}</td>
                                        <td>{{sinisterPec.charge}} </td>

                                        <td class="text-right">
                                            <div class="btn-group flex-btn-group-container">
                                                <button type="submit" *ngIf="permissionToAccess.canReopenPecRefus" [routerLink]="['/sinister-pec-reprise-refused/'+sinisterPec.id]"
                                                    replaceUrl="true" class="btn btn-primary btn-sm">
                                                    <span class="fa fa-sm fa-eye"></span>
                                                </button>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>